
/*= Scroll to Top =*/
.hidegt {
    bottom: -100px !important;
}
.showgt {
    bottom:75px !important;
}
#goTop {
    position: fixed;
    right: 32px;
    z-index: 1000;
    bottom: -100px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    cursor:pointer;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
#goTop i {
    display: block;
    font-size: 50px;
}
#goTop:hover i {
    -webkit-animation: fadeInUp 0.4s;
    animation: fadeInUp 0.4s
}
#goTop:hover {
    opacity: 0.9;
    background: $color__theme-primary;
    color: $color_white;
}

.footer-nav {
    ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style-type: none;

        li {
            &::after {
                content: "/";
                padding: 0 $default-gutter/2;
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }
        }

    }
}
#footer {
    background: $color__theme-primary;
    color: $color_white;
    margin-top: $big-gutter/2;
    padding-top: $big-gutter/2;
    padding-bottom: $default-gutter/2;

    a {
        color: $color_white;
    }
}
